
    <h1>All products</h1>
    <h3>@Model.currCategory</h3>  <!-- выводится категория --> 
    @{ foreach (var product in Model.allProducts) // создается переменная и перебирает модель
        {
            <div>
                <h2>Product: @product.name</h2>
                <p>Price: @product.price.ToString("c")</p> <!-- указываеться преобразование в стринг денежного формата -->
            </div>
        }
    }
