@using Web_Shop.Data.Models

@model IEnumerable<Product>
@{
    Layout = null; // Основной макет. Пока 0
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <h1>All products</h1>
    <h3>@ViewBag.Category</h3>
    @{ foreach (var product in Model) // создается переменная и перебирает модель
        {
            <div>
                <h2>Product: @product.name</h2>
                <p>Price: @product.price.ToString("c")</p> <!-- указываеться преобразование в стринг денежного формата -->
            </div>
        }
    }
</body>
</html>